#collections {
   position: relative;
   top: 0;
   width: 25%;
   height: 100%;
   box-shadow: 5rem 0 20rem 5rem rgba(66, 72, 116, 0.4);
   background: linear-gradient(transparent 30%, rgba(244, 238, 255, 1));
}

.icon-container .btn-icon {
   color: white;
}

.header {
   position: relative;
   z-index: 10;
   width: 100%;
   height: 50rem;
   overflow: hidden;
   padding: 5rem 10rem 5rem 20rem;
   background: rgba(66, 72, 116);
   display: flex;
   justify-content: space-between;
}

.header-text {
   position: relative;
   top: 0;
   width: 85%;
   transition: all 1s ease-in-out;
}

.header-text.move-up {
   top: -50rem;
}

.header h2,
.header h3 {
   display: inline-block;
   color: white;
   width: 100%;
   height: 50rem;
}

.header h3 {
   line-height: 150%;
}

.create-item {
   position: absolute;
   top: -100%;
   left: 0;
   z-index: 9;
   width: 100%;
   box-shadow: 0 5rem 5rem -3rem rgba(97, 101, 138, 0.3);
   padding: 5rem 20rem 20rem;
   background: rgba(255, 255, 255, 1);
   transition: all 1s ease-in-out;
}

.create-item.show {
   top: 50rem;
}

svg.create-close-btn {
   position: absolute;
   z-index: 10;
   width: 20rem;
   height: 20rem;
   left: 50%;
   bottom: 0%;
   transform: translate(-50%, 50%);
   color: white;
   background: rgb(66, 72, 116);
   border-radius: 50%;
}

.create-btn {
   margin: 15rem 0 5rem;
   padding: 5rem 5rem;
   background: rgb(166, 177, 225);
   font-size: 12rem;
}

.create-item form {
   display: flex;
   flex-direction: column;
}

.create-item input {
   margin-top: 5rem;
}

#collections .empty-input::placeholder {
   color: red;
}

.suggestions {
   position: relative;
   width: 100%;
   box-shadow: 0 5rem 5rem -3rem rgba(97, 101, 138, 0.3);
}

.grouping-options {
   position: absolute;
   z-index: 2;
   top: -100%;
   padding: 0 20rem 10rem;
   background: white;
   transition: all 1s ease-in-out;
}

.grouping-options.open {
   top: 50rem;
}

.icon-container {
   width: 15%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.header svg.btn-icon {
   width: 100%;
}

.input-type-container {
   display: flex;
   justify-content: space-around;
   margin-top: 10rem;
   border: 1rem dashed rgb(166, 177, 225);
}

.input-type-container label {
   width: 100%;
   text-align: center;
}

input:checked + label {
   background: rgb(166, 177, 225);
   color: white;
}

.list-container {
   position: relative;
   height: 85%;
   overflow-y: scroll;
   overflow-x: hidden;
   padding-top: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   transition: all 1s ease-in-out;
}

.list-container::-webkit-scrollbar {
   display: none;
}

.fade-indicator {
   position: absolute;
   bottom: 0;
   height: 12%;
   width: 100%;
   background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(166, 177, 225, 1)
   );
   backdrop-filter: blur(2rem);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

svg.expand {
   width: 50rem;
   height: 50rem;
   color: rgba(66, 72, 116, 0.8);
   opacity: 0;
   transition: all 1s ease-in-out;
}

svg.expand.show {
   opacity: 1;
}

#collections .indicator {
   display: none;
}

@media only screen and (max-width: 1024px) {
   #collections {
      width: 100%;
      z-index: 100;
      background: linear-gradient(white 30%, rgba(244, 238, 255, 1));
      border-radius: 50rem;
      top: 100vh;
      transition: all 1s ease-in-out;
   }

   #collections.show {
      top: 0vh;
   }
}
