#report {
   position: absolute;
   z-index: 50;
   top: 100vh;
   width: 100vw;
   height: 100vh;
   transition: all 1s ease-in-out;
}

#report.open {
   top: 0;
}

#report .layout {
   position: absolute;
   top: 4.5vh;
   transform: translate(-50%, 0);
   z-index: 100;
   box-shadow: 0 -3rem 10rem 5rem rgba(0, 0, 0, 0.3);
   height: 96vh;
   border-radius: 50rem 50rem 0 0;
   overflow: hidden;
   display: grid;
   grid-template-rows: 80rem 60vh 1fr;
   width: 90vw;
}

#report .header {
   border: 1rem solid red;
   width: 90vw;
   z-index: 3;
   height: fit-content;
   display: flex;
   align-items: center;
   padding: 10rem 50rem;
}

#report h1 {
   color: white;
   font-size: calc(min(4vw, 40rem));
}

.date-picker {
   border-radius: 10rem;
   color: var(--night-dark-purple);
   cursor: pointer;
}

.date-dropdown {
   position: absolute;
   z-index: 2;
   top: -100%;
   right: 0;
   width: 30%;
   background: white;
   transition: all 1s ease-in-out;
}

.date-dropdown.open {
   top: 80rem;
}

.date-dropdown ul {
   padding-left: 15rem;
}

.summary-body {
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
   grid-gap: 10rem;
   width: 90vw;
   height: 100%;
   padding: 10rem;
}

.summary-body > div {
   height: 98%;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.summary-body > div::-webkit-scrollbar {
   display: none;
}

.summary-items {
   height: 80%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
   grid-gap: 10rem;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.summary-items .list {
   width: 100%;
}

#report .item-icon-container {
   display: none;
}

#report .list-item p {
   width: 90%;
}

.summary-journal {
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
}

.summary-entry h3 {
   color: var(--night-dark-purple);
   font-weight: 400;
}

.summary-entry.list {
   padding: 0;
   width: 100%;
}

.summary-entry-header {
   height: 40rem;
   padding: 5rem 20rem;
   align-items: baseline;
   background: rgb(166, 177, 225);
}

.summary-entry {
   position: relative;
   overflow: hidden;
   z-index: 1;
   height: 98%;
}

.summary-mood,
.summary-reason {
   padding-left: 20rem;
}

.summary-reason {
   height: 10vh;
   padding-top: 10rem;
   border-top: 1rem dashed rgb(166, 177, 225);
}

.entry-content {
   position: relative;
   padding: 0 20rem;
   height: 25vh;
}

.summary-entry p::-webkit-scrollbar {
   display: none;
}

.summary-entry p {
   height: 90%;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.summary-mood {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.summary-mood h3 {
   color: var(--night-dark-purple);
   font-weight: 400;
   width: 80%;
}

.summary-mood h3 {
   width: 70%;
}

.summary-mood .mood-box {
   order: 0;
}

.habit-tracker {
   position: relative;
   width: 98%;
   height: 50%;
   padding: 5rem 10rem 10rem;
   display: flex;
   flex-direction: column;
   border-top: 1rem solid rgb(166, 177, 225);
}

.habit-tracker h4 {
   background: white;
   position: relative;
   top: 0;
   z-index: 10;
   width: 100%;
   height: 25rem;
}

.habit-trend {
   width: calc(100% - 30rem);
   height: calc(100% + 80rem);
   overflow-y: hidden;
   overflow-x: scroll;
}

.habit-trend.scrollbar::-webkit-scrollbar,
.habit-bar.scrollbar::-webkit-scrollbar {
   height: 10rem;
   width: 10rem;
}

.habit-bar {
   position: relative;
   top: 0;
   left: 2%;
   height: 60%;
   width: 98%;
   display: flex;
   overflow-y: scroll;
   overflow-x: hidden;
}

.habit-names {
   margin-top: 90rem;
   width: 30rem;
   border-top: 1rem dashed rgb(166, 177, 225);
}

@media only screen and (max-width: 1200px) {
   #report .layout {
      display: flex;
      flex-direction: column;
   }

   #report .header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
   }

   #report .header h1 {
      font-size: 18rem;
   }

   .log-body {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
   }

   .log-body::-webkit-scrollbar {
      display: none;
   }

   .summary-body {
      display: flex;
      flex-direction: column;
      height: auto;
   }

   .summary-items {
      order: 2;
      height: 100%;
      padding: 5rem 0;
   }

   .summary-journal {
      order: 1;
      height: 100%;
   }

   .habit-tracker {
      height: 40%;
   }

   .date-dropdown.open {
      top: 70rem;
      width: 100%;
   }
}
