.tracker-container {
   min-height: 25rem;
   display: flex;
   border-bottom: 1rem dashed rgb(166, 177, 225);
}

.tracker-dot-container {
   display: flex;
}

.tracker-dot-box {
   width: 25rem;
   height: 25rem;
   border-right: 1rem dashed rgb(166, 177, 225);
   display: flex;
   justify-content: center;
   align-items: center;
}

.tracker-dates-box {
   position: relative;
   width: 25rem;
   height: 80rem;
   border-right: 1rem dashed rgb(166, 177, 225);
}

.indicator.filled {
   background: rgb(166, 177, 225);
}

.tracker-date-display {
   width: 25rem;
   writing-mode: vertical-rl;
   transform: rotate(-180deg);
}

.tracker-habit-title {
   height: 25rem;
   width: 30rem;
   border-right: 1rem dashed rgb(166, 177, 225);
}
