:root {
   /* NIGHT THEME */
   --night-light-purple: rgb(244, 238, 255);
   --night-pink-purple: rgb(220, 214, 247);
   --night-blue-purple: rgb(166, 177, 225);
   --night-dark-purple: rgb(66, 72, 116);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 6.25%;
}
body {
   background: rgb(32, 34, 54);
   font: 16rem Quicksand, sans-serif;
   font-weight: 400;
   overflow: hidden;
}

h1 {
   font: inherit;
   font-size: calc(min(2.5vw, 35rem));
   font-weight: 300;
}

h2 {
   font-weight: 300;
   font-size: calc(min(2vw, 25rem));
}

h3 {
   font-weight: 300;
   font-size: 25rem;
   color: white;
}

h4 {
   text-transform: uppercase;
   letter-spacing: 7rem;
   font-weight: 500;
   color: var(--night-dark-purple);
}

h5 {
   text-transform: uppercase;
   letter-spacing: 5rem;
   font-weight: 400;
   color: white;
}

input {
   border: none;
   border-bottom: 1rem solid var(--night-dark-purple);
   outline: none;
   padding: 5rem;
   font: inherit;
   color: var(--night-dark-purple);
   width: 100%;
   background: none;
}

input[type="radio"] {
   display: none;
}

textarea {
   border: none;
   background: transparent;
   outline: none;
   font: inherit;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   /* font-weight: 500; */
   resize: none;
}

textarea::-webkit-scrollbar {
   display: none;
}

li {
   list-style: none;
   text-transform: capitalize;
}

button {
   border: none;
   outline: none;
   background: none;
   font: inherit;
   cursor: pointer;
}

label {
   font-weight: 500;
   color: var(--night-dark-purple);
   display: inline-block;
   cursor: pointer;
}

svg.btn-icon {
   color: var(--night-dark-purple);
   width: 15rem;
   height: 15rem;
   cursor: pointer;
}

@media only screen and (max-width: 1024px) {
   h1 {
      font-size: calc(max(5vw, 25rem));
   }

   h2 {
      font-size: calc(max(4vw, 22rem));
   }
}
