#avatar-container {
   position: absolute;
   z-index: 100;
   top: 5vh;
   left: 0;
}

/* #avatar-container .avatar-animal {
   width: 20rem;
   height: 20rem;
} */

#avatar-options {
   position: relative;
   display: flex;
   flex-direction: column;
   border-top: 1rem solid white;
   border-bottom: 1rem solid white;
   top: 0;
   left: -100%;
   transition: all 1s ease-in-out;
   padding: 0 0 15rem;
}

#avatar-options.open {
   left: 0;
}

.animals {
   display: inline-block;
   width: 40rem;
   height: 40rem;
   margin: 6rem 1rem;
   cursor: pointer;
}

.display-btn {
   position: relative;
   margin-bottom: 5rem;
   z-index: 100;
}

@media only screen and (max-width: 1200px) {
   #avatar-container {
      top: 0;
   }
   #avatar-options {
      position: absolute;
      /* flex-direction: row; */
      border-top: none;
      border-bottom: none;
      background: var(--night-dark-purple);
      /* top: -3rem;
      left: -1000%; */
      padding: 45rem 5rem 10rem 0;
      border-radius: 0 0 10rem 10rem;
      /* border: 1rem solid red; */
   }
}
