.layout {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90vw;
   height: 90vh;
   border-radius: 50rem;
   background-color: rgba(255, 255, 255);
   box-shadow: 0 3rem 5rem 1rem rgba(0, 0, 0, 0.3);
   display: flex;
}

#dashboard > div {
   overflow: hidden;
}

#dashboard .ribbon {
   overflow: visible;
}

.ribbon {
   position: relative;
   z-index: 50;
   top: -3rem;
   width: 2vw;
   height: 90vh;
   border-radius: 5rem 5rem 0 0;
   box-shadow: 0rem 3rem 3rem 2rem rgba(66, 72, 116, 0.3);
   background: linear-gradient(rgb(90, 97, 156), rgb(166, 177, 225));
}

.ribbon-tip {
   position: absolute;
   bottom: -4vh;
   width: 100%;
   height: 5vh;
   background: rgb(166, 177, 225);
   clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 50%, 0 0);
   box-shadow: 0rem 4vh 3rem 2rem rgba(0, 0, 0, 0.9);
}

.summary-container {
   position: relative;
   z-index: 50;
   width: 30%;
   height: 100%;
   background: white;
   border-radius: 50rem 0 0 50rem;
   padding: 1% 2%;
}

.date-display {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
}

.circle-container {
   position: relative;
   width: 100%;
   height: 26vw;
   padding: 5% 0;
   display: flex;
   justify-content: center;
}

.circle-img {
   position: absolute;
   width: 18vw;
   height: 18vw;
   border-radius: 50%;
   background: rgba(66, 72, 116, 1);
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.circle-img::before {
   position: absolute;
   z-index: 10;
   content: "";
   display: inline-block;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   box-shadow: inset 0 0 10rem 1rem rgba(0, 0, 0, 0.7);
}

.night-sky {
   position: absolute;
   width: 120%;
}

#purple-cloud {
   animation: floating 4s infinite;
}

#pink-cloud {
   animation: floating 4s 1s infinite;
}

#moon,
#white-cloud {
   animation: floating 4s 2s infinite;
}

#stars {
   animation: brighter 2s infinite;
}

@keyframes brighter {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0.8;
   }

   100% {
      opacity: 1;
   }
}

@keyframes floating {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-20rem);
   }

   100% {
      transform: translateY(0rem);
   }
}

#dashboard .summary-container .fade-indicator {
   position: absolute;
   z-index: 10;
   left: 0;
   bottom: 0;
}

#journal-container {
   position: relative;
   z-index: -1;
   top: 0;
   /** Width = Dashboard * (1 - summary - collections) - ribbon - datebar*/
   width: calc(90vw * (1 - 0.3 - 0.25) - 2vw - 90rem);
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   border-radius: 0 50rem 50rem 0;
}

#journal-container .header {
   background: rgb(166, 177, 225, 1);
   position: relative;
   width: 100%;
   position: flex;
   justify-content: space-between;
}

#journal-container h3 {
   color: rgba(66, 72, 116, 1);
   font-weight: 400;
}

#entry-container {
   position: relative;
   width: 100%;
   height: 80%;
   display: flex;
   align-items: center;
}

#quick-notes {
   position: relative;
   z-index: -1;
   width: 100%;
   height: 20%;
   box-shadow: 0 -5rem 20rem 5rem rgba(66, 72, 116, 0.3);
   overflow: hidden;
}

#quick-notes::before {
   display: inline-block;
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(./images/background-dots.png);
   background-size: contain;
   opacity: 0.7;
   border-radius: 0 0 50rem 0;
}

#quick-notes h4 {
   padding: 10rem 10rem 10rem 30rem;
   background: white;
   width: 100%;
   color: rgba(66, 72, 116, 1);
   background: rgb(166, 177, 225, 1);
   font-weight: 700;
}

#textarea-notes {
   position: relative;
   z-index: 99;
   padding: 10rem 20rem 10rem 40rem;
   width: 95%;
   height: 90%;
   margin-top: 2rem;
   font-weight: 500;
}

.circle-container {
   height: 10vw;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

.circle-img {
   position: relative;
   width: 10vw;
   height: 10vw;
}

.date-display {
   position: relative;
   width: 50%;
}

@media only screen and (max-width: 1024px) {
   .layout {
      display: inline-block;
      top: 8vh;
      left: 50%;
      transform: translate(-50%, 0);
   }

   #journal-container {
      position: absolute;
      z-index: 100;
      top: 100vh;
      transition: all 1s ease-in-out;
   }

   #journal-container.show {
      top: 0vh;
   }

   .summary-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 76%;
   }

   .ribbon {
      display: none;
   }

   .circle-container {
      height: 22vw;
      padding: 0 5vw;
   }

   .circle-img {
      width: 20vw;
      height: 20vw;
   }

   #journal-container {
      width: 100%;
      background: white;
      border-radius: 50rem;
   }
}
