.tracker-container {
   /* width: 100%; */
   /* min-height: 25rem; */
   /* background: red; */
   display: flex;
   border-bottom: 1rem dashed red;
}

.habit-name {
   width: 250rem;
   overflow-x: scroll;
   overflow-y: hidden;
   border-right: 1rem dashed red;
}

.habit-name::-webkit-scrollbar {
   display: none;
}

.tracker-dot-container {
   display: flex;
}

.tracker-dot-box {
   width: 25rem;
   height: 25rem;
   border-right: 1rem dashed red;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tracker-dates-box {
   position: relative;
   width: 25rem;
   /* height: 100rem; */
}

.indicator.filled {
   background: rgb(166, 177, 225);
}

.tracker-date-display {
   width: 25rem;
   /* height: 80rem; */
   writing-mode: vertical-rl;
   transform: rotate(-180deg);
   /* text-orientation: upright; */
   /* font-size: 16rem; */
}
